async-timeout==4.0.3
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
python-dotenv==1.0.1
redis==5.1.1
requests==2.32.3
spotipy==2.24.0
urllib3==2.2.3
pip~=25.0
wheel~=0.43.0
setuptools~=74.1.2
packaging~=24.1
zipp~=3.21.0
Django~=4.2.18
asgiref~=3.8.1
sqlparse~=0.5.3
tomli~=2.0.1
autocommand~=2.2.2
inflect~=7.3.1
typeguard~=4.3.0
platformdirs~=4.2.2